p {
    color: green;
}

.ulist.recipe {
    font-size: 60px;
    font-family: "Times New Roman", sans-serif;
    color: rgb(211, 68, 111)
}

.header {
    font-size: 40px;
    font-family: "Times New Roman", sans-serif;
    color: rgb(30, 209, 69);
}

body {
    background-color: black;
}
.ulist {
    color: green;
    font-size: 30px;
}
.para {
    font-size:20px ;
    color: orange;
}
.olist {
    font-size: 30px;
    color: orange;
}
.homepage {
    font-size: 20px;
    color: rgb(150, 218, 147);
}
#lasaga {
    column-rule: 10cm;
    font-weight: 900;
    font-size: 60px;
}
#italian {
    font-size: 80px;
    color: red;
    position: relative;
    left: 500px;
    border: 3px solid;
    bottom: 200px;
}
.header.lasaga {
    position: relative;
    bottom: 500px;
    transform: rotate(-45deg);
}
@keyframes italy {
    0% {background-color: red;}
    100% {background-color: blue;}
}
.header.lasaga {
    animation-name: italy;
    animation-duration:2s;
    animation-iteration-count: infinite;
}
.headerl {
    font-size: 100px;
    color: rgba(221, 30, 164, 0.548);
    animation-name: lebron;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes lebron {
    0% {background-color: yellow;}
    100% {background-color: purple}
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
    0% {color: red;}
    100% {color: blue;}
}

#lebronl {
    font-size: 80px;
    color: purple;
}
.lebrun {
    width: 400px;
    height: 400px;
    animation: rotation 4s infinite linear;
}
.epic {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    text-align: right;
    color: rgb(114, 68, 0);
}
#lebran {
    color: rgb(253, 166, 166);
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: 900;
    animation: spin 10s infinite linear;
}